<div class="container-fluid">
<h4>Nuevo Usuario</h4>
	<form class="container-fluid">
		<input type="text" ng-model="user.name" class="form-control">
		<br>
		<input type="text" ng-model="user.email" class="form-control">
		<br>
		<button class="btn btn-primary" ng-click="guardar()">Guardar</button>
	</form>
	<table class="table">
		<thead>
			<tr>
				<th>User</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="i in usuarios">
				<td>{{i.name}}</td>
				<td>{{i.email}}</td>
			</tr>
		</tbody>
	</table>
</div>