<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" ng-repeat="i in sliders" data-slide-to="{{$index}}" ng-class="{active: $index==0}"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item" ng-class="{active: $index==0}" ng-repeat="i in sliders">
      <img class="d-block img-fluid" ng-src="{{i.src}}" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>