    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">{{logo}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" ng-class="{'active': i.active == true}" ng-repeat="i in menu">
              <a class="nav-link" ng-href="{{i.link}}">{{i.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">{{logo}}</h1>
          <div class="list-group">
            <a ng-href="{{i.link}}" class="list-group-item" ng-repeat="i in categorias">{{i.name}}</a>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <!-- CARROUSEL -->
            <div ng-include="'components/home/views/carrousel.view.html'"></div>

          <div class="row">

            <div class="col-lg-4 col-md-6 mb-4" ng-repeat="i in products">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" ng-src="{{i.img}}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">{{i.name}}</a>
                  </h4>
                  <h5>{{i.currency}} {{i.price}}</h5>
                  <p class="card-text">{{i.description}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><span ng-repeat="k in i.rate">&#9733;</span> </small>
                </div>
              </div>
            </div>

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->